<head>
<link rel="stylesheet" href="/css/plupload.queue.css" type="text/css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/jquery.plupload.queue.min.js"></script>

<script type="text/javascript">
$(function() {
    $("#uploader").pluploadQueue({
        runtimes : 'html5,html4',
        url : '{% url plupload_sample.upload.views.upload_file %}',
        max_file_size : '1mb',
        chunk_size: '1kb',
        unique_names : false,
        multipart: true,

        headers : {'X-Requested-With' : 'XMLHttpRequest', 'X-CSRFToken' : '{{csrf_token}}'},
    });

    $('form').submit(function(e) {
        var uploader = $('#uploader').pluploadQueue();

        // Validate number of uploaded files
        if (uploader.total.uploaded == 0) {
            // Files in queue upload them first
            if (uploader.files.length > 0) {
                // When all files are uploaded submit form
                uploader.bind('UploadProgress', function() {
                    if (uploader.total.uploaded == uploader.files.length)
                        $('form').submit();
                });

                uploader.start();
            } else {
                alert('You must at least upload one file.');
            }

            e.preventDefault();
        }
    });
});
</script>
</head>

<body>

<form enctype="multipart/form-data" action="{% url plupload_sample.upload.views.upload_file %}" method="post">{% csrf_token %}

<div id="uploader">
  {{form.file.errors}}{{form.file}}
  <input type="submit" value="Upload" />
</div>

</form>
</body>